RewriteEngine On
RewriteRule /utenti index.php?sz=utenti [L]
RewriteRule /utenti/ index.php?sz=utenti [L]
RewriteRule /test index.php?sz=test [L]
RewriteRule /test/ index.php?sz=test [L]
RewriteRule /termini index.php?sz=termini [L]
RewriteRule /termini/ index.php?sz=termini [L]
RewriteRule /report index.php?sz=report [L]
RewriteRule /report/ index.php?sz=report [L]
RewriteRule /privacy index.php?sz=privacy [L]
RewriteRule /privacy/ index.php?sz=privacy [L]
RewriteRule /policies index.php?sz=policies [L]
RewriteRule /policies/ index.php?sz=policies [L]
RewriteRule /login index.php?sz=login [L]
RewriteRule /login/ index.php?sz=login [L]
RewriteRule /impostazioni index.php?sz=impostazioni [L]
RewriteRule /impostazioni/ index.php?sz=impostazioni [L]
RewriteRule /home index.php?sz=home [L]
RewriteRule /home/ index.php?sz=home [L]
RewriteRule /dashboard index.php?sz=dashboard [L]
RewriteRule /dashboard/ index.php?sz=dashboard [L]
RewriteRule /cookies-policy index.php?sz=cookies-policy [L]
RewriteRule /cookies-policy/ index.php?sz=cookies-policy [L]
RewriteRule /cms index.php?sz=cms [L]
RewriteRule /cms/ index.php?sz=cms [L]
RewriteRule /bikehospital index.php?sz=bikehospital [L]
RewriteRule /bikehospital/ index.php?sz=bikehospital [L]
RewriteRule /areariservata index.php?sz=areariservata [L]
RewriteRule /areariservata/ index.php?sz=areariservata [L]
RewriteRule /app index.php?sz=app [L]
RewriteRule /app/ index.php?sz=app [L]
RewriteRule /accessi index.php?sz=accessi [L]
RewriteRule /accessi/ index.php?sz=accessi [L]
ErrorDocument 404 https://www2.wifi-project.cloud/bikehospitality/dashboard/paginamancante.php
